<a href="https://colab.research.google.com/github/MuhammadMuzamil514/ArtificialIntelligenceActivityTask/blob/main/Artificial_Intelligence_Lab_1_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1**.** Write a program to check if a number is prime.**

In [ ]:
def is_prime(num):
    """Check if a number is prime."""
    # Numbers less than 2 are not prime
    if num < 2:
        return False

    # Check for factors from 2 to square root of num
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False

    return True

# Test the function with different numbers
test_numbers = [1, 2, 3, 4, 5, 10, 13, 15, 17, 25, 29, 30]

for number in test_numbers:
    if is_prime(number):
        print(f"{number} is a prime number")
    else:
        print(f"{number} is not a prime number")

1 is not a prime number
2 is a prime number
3 is a prime number
4 is not a prime number
5 is a prime number
10 is not a prime number
13 is a prime number
15 is not a prime number
17 is a prime number
25 is not a prime number
29 is a prime number
30 is not a prime number

Q2. Create a list of 10 numbers and print their average.

In [ ]:
# Get 10 numbers from user
numbers = []
for i in range(10):
    num = float(input(f"Enter number {i+1}: "))
    numbers.append(num)

# Calculate and print average
average = sum(numbers) / len(numbers)
print("\nEntered numbers:", numbers)
print("Average:", average)

Enter number 1: 4
Enter number 2: 8
Enter number 3: 5
Enter number 4: 4
Enter number 5: 3
Enter number 6: 9
Enter number 7: 8
Enter number 8: 0
Enter number 9: 7
Enter number 10: 6

Entered numbers: [4.0, 8.0, 5.0, 4.0, 3.0, 9.0, 8.0, 0.0, 7.0, 6.0]
Average: 5.4

Q3. Store student names and marks in a dictionary and display the topper.

In [ ]:
# Step 1: Create a dictionary with student names and marks
students = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78,
    "David": 92,
    "Eve": 88,
    "Frank": 76,
    "Grace": 91,
    "Heidi": 85,
    "Ivan": 79,
    "Judy": 92
}

# Step 2: Find the highest marks
highest_marks = max(students.values())

# Step 3: Find all students who have the highest marks
toppers = [name for name, marks in students.items() if marks == highest_marks]

# Step 4: Display the results
print("Student Marks:")
for name, marks in students.items():
    print(f"{name}: {marks}")

print("\nHighest Marks:", highest_marks)
print("Topper(s):", ", ".join(toppers))

# Handle single vs multiple toppers
if len(toppers) == 1:
    print(f"The topper is {toppers[0]} with {highest_marks} marks")
else:
    print(f"There are {len(toppers)} toppers with {highest_marks} marks:")
    for topper in toppers:
        print(f"- {topper}")

Student Marks:
Alice: 85
Bob: 92
Charlie: 78
David: 92
Eve: 88
Frank: 76
Grace: 91
Heidi: 85
Ivan: 79
Judy: 92

Highest Marks: 92
Topper(s): Bob, David, Judy
There are 3 toppers with 92 marks:
- Bob
- David
- Judy

Q4. Demonstrate set operations: union, intersection, difference.

In [ ]:
# Create two sets with some common and unique elements
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print("Set 1:", set1)
print("Set 2:", set2)
print()

# 1. Union (all elements from both sets, without duplicates)
union_set = set1.union(set2)
print("Union (set1 | set2):", union_set)
# Alternative using operator
print("Union using | operator:", set1 | set2)
print()

# 2. Intersection (elements common to both sets)
intersection_set = set1.intersection(set2)
print("Intersection (set1 & set2):", intersection_set)
# Alternative using operator
print("Intersection using & operator:", set1 & set2)
print()

# 3. Difference (elements in set1 but not in set2)
difference_set = set1.difference(set2)
print("Difference (set1 - set2):", difference_set)
# Alternative using operator
print("Difference using - operator:", set1 - set2)
print()

# 4. Symmetric Difference (elements in either set but not both)
symmetric_difference = set1.symmetric_difference(set2)
print("Symmetric Difference (set1 ^ set2):", symmetric_difference)
# Alternative using operator
print("Symmetric Difference using ^ operator:", set1 ^ set2)
print()

# 5. Additional demonstrations
# Check if set1 is a subset of set2
print("Is set1 a subset of set2?", set1.issubset(set2))

# Check if set1 is a superset of set2
print("Is set1 a superset of set2?", set1.issuperset(set2))

# Check if sets are disjoint (no common elements)
print("Are set1 and set2 disjoint?", set1.isdisjoint(set2))

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}

Union (set1 | set2): {1, 2, 3, 4, 5, 6, 7, 8}
Union using | operator: {1, 2, 3, 4, 5, 6, 7, 8}

Intersection (set1 & set2): {4, 5}
Intersection using & operator: {4, 5}

Difference (set1 - set2): {1, 2, 3}
Difference using - operator: {1, 2, 3}

Symmetric Difference (set1 ^ set2): {1, 2, 3, 6, 7, 8}
Symmetric Difference using ^ operator: {1, 2, 3, 6, 7, 8}

Is set1 a subset of set2? False
Is set1 a superset of set2? False
Are set1 and set2 disjoint? False

Q5. Write a function to compute factorial using recursion.

In [ ]:
def factorial(n):
    """Compute factorial of a non-negative integer using recursion."""
    # Check for negative input
    if n < 0:
        raise ValueError("Factorial is not defined for negative numbers")

    # Base case: 0! = 1
    if n == 0:
        return 1

    # Recursive case: n! = n * (n-1)!
    return n * factorial(n - 1)

# Test the function with different values
test_numbers = [0, 1, 5, 7, 10]

for num in test_numbers:
    print(f"{num}! = {factorial(num)}")

# Test with negative number (will raise error)
try:
    factorial(-3)
except ValueError as e:
    print("\nError:", e)

0! = 1
1! = 1
5! = 120
7! = 5040
10! = 3628800

Error: Factorial is not defined for negative numbers

Q6. Use a for loop to print the Fibonacci series up to n terms.

In [ ]:
n = int(input("Enter the number of Fibonacci terms: "))
fib_series = []

a, b = 0, 1
for _ in range(n):
    fib_series.append(a)
    a, b = b, a + b

print("Fibonacci Series:", fib_series)

Enter the number of Fibonacci terms: 7
Fibonacci Series: [0, 1, 1, 2, 3, 5, 8]

Q7. Read a string and count the number of vowels.

In [ ]:
# Read a string from the user
input_string = input("Enter a string: ")

# Define the vowels (both lowercase and uppercase)
vowels = "aeiouAEIOU"

# Initialize vowel counter
vowel_count = 0

# Count vowels in the string
for char in input_string:
    if char in vowels:
        vowel_count += 1

# Display the result
print(f"Number of vowels in '{input_string}': {vowel_count}")

Enter a string: Malik Muzamil
Number of vowels in 'Malik Muzamil ': 5

Q8. Create a tuple of numbers and find the maximum and minimum.

In [ ]:
# Step 1: Create a tuple of numbers
numbers = (23, 45, 12, 67, 89, 34, 56, 78, 90, 11)

# Step 2: Find the maximum value in the tuple
max_value = max(numbers)

# Step 3: Find the minimum value in the tuple
min_value = min(numbers)

# Step 4: Display the results
print("Tuple of numbers:", numbers)
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Tuple of numbers: (23, 45, 12, 67, 89, 34, 56, 78, 90, 11)
Maximum value: 90
Minimum value: 11

Q9. Create a program that asks for user input and reverses the string.

In [ ]:
# Get user input
user_input = input("Enter a string to reverse: ")

# Reverse the string using slicing
reversed_string = user_input[::-1]

# Display the result
print("Original string:", user_input)
print("Reversed string:", reversed_string)

Enter a string to reverse: MuzamilMalik
Original string: MuzamilMalik
Reversed string: kilaMlimazuM